:root {
  --primary: #1677ff;
  --primary-hover: #4096ff;
  --danger: #ff4d4f;
  --success: #52c41a;

  /* Background */
  --bg-base: #FFFFFF;
  --bg-primary: #EFEFEF;
  --bg-tab: #D3D3D3;
  --bg-tab-hover: #B7B7B7;
  --bg-tab-active: #727272;
  --bg-border: #808080;

  /* Text */
  --text-white: #FFFFFF;
  --text-secondary: #808080;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
